In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv')
data["profit"]= data["revenue"] - data["budget"]

In [3]:
def split_columns(dataframe, primary_key, name, sep):
    new = pd.DataFrame(columns = [primary_key])
    for index, row in dataframe.iterrows():
        new_row = {}
        for j in row[name].split(sep):
            new_row[primary_key] = row[primary_key]
            new_row[j] = 1
        new = new.append(new_row, ignore_index=True)
    dataframe = dataframe.merge(new, on=primary_key, how='left')
    return dataframe

In [4]:
data = split_columns(data, "imdb_id", "genres", "|")

In [5]:
data = split_columns(data, "imdb_id", "cast", "|")

In [6]:
data = split_columns(data, "imdb_id", "production_companies", "|")

In [7]:
len(data)

1890

# Предобработка датасета

In [8]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [9]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [11]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [13]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [15]:
data.runtime.mean()

109.65343915343915

In [16]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [17]:
data.runtime.median()

106.5

In [18]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [19]:
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [21]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [23]:
len(data[data.profit > 0])

1478

In [24]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [25]:
data9 = data[data.release_year == 2008]
data9[data9.profit == data9.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [27]:
data10 = data[(data.release_year >= 2012)&(data.release_year <= 2014)]
data10[data10.profit == data10.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [29]:
data.sum()

imdb_id                                                tt0369610tt1392190tt2908446tt2488496tt2820852t...
popularity                                                                                       2949.55
budget                                                                                      103018157187
revenue                                                                                     293496179097
original_title                                         Jurassic WorldMad Max: Fury RoadInsurgentStar ...
cast                                                   Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                                               Colin TrevorrowGeorge MillerRobert SchwentkeJ....
tagline                                                The park is open.What a Lovely Day.One Choice ...
overview                                               Twenty-two years after the events of Jurassic ...
runtime                                                                                           207245
genres                                                 Action|Adventure|Science Fiction|ThrillerActio...
production_companies                                   Universal Studios|Amblin Entertainment|Legenda...
release_date                                           6/9/20155/13/20153/18/201512/15/20154/1/201512...
vote_count                                                                                       1484910
vote_average                                                                                     11606.3
release_year                                                                                     3794859
profit                                                                                      190478021910
Action                                                                                               583
Adventure                                                                                            416
Science Fiction                                                                                      248
Thriller                                                                                             597
Fantasy                                                                                              223
Crime                                                                                                315
Drama                                                                                                782
Western                                                                                               20
Animation                                                                                            139
Comedy                                                                                               683
Family                                                                                               260
Mystery                                                                                              168
Romance                                                                                              308
                                                                             ...
Clipsal Films                                                                                          1
Nine Yards Productions                                                                                 1
Rational Packaging Company                                                                             1
Fat Free                                                                                               1
Mars Production Pty. Ltd.                                                                              1
The Canton Company                                                                                     2
Red Horizon Productions                                                                                1
Caro-McLeod                                                                                            1
Katira Productions GmbH & Co. KG                                                                       1
Fox Animation Studios                                                                                  1
Neo Art & Logic                                                                                        1
Wes Craven Films                                                                                       1
Munich Film Partners & Company (MFP) ROE Production                                                    1
Seven Arts Pictures                                                                                    1
Finding Forrester Productions                                                                          1
Fountainbridge Films                                                                                   1
Cruella Productions                                                                                    1
Triple Threat Talent                                                                                   1
Screenland Pictures                                                                                    1
Davis-Panzer Productions                                                                               1
Charenton Productions                                                                                  1
Hollywood Partners                                                                                     1
Walrus & Associates                                                                                    1
Sweetpea Entertainment                                                                                 1
SNL Studios                                                                                            1
JLT Productions                                                                                        1
Springwood Productions                                                                                 1
Capella International                                                                                  1
KC Medien AG                                                                                           1
Nora Ephron Productions                                                                                1
Length: 5216, dtype: object

In [30]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [32]:
data12 = data[data.profit > 0]
data12.sum()

imdb_id                                                tt0369610tt1392190tt2908446tt2488496tt2820852t...
popularity                                                                                        2635.4
budget                                                                                       84870975004
revenue                                                                                     283163266374
original_title                                         Jurassic WorldMad Max: Fury RoadInsurgentStar ...
cast                                                   Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                                               Colin TrevorrowGeorge MillerRobert SchwentkeJ....
tagline                                                The park is open.What a Lovely Day.One Choice ...
overview                                               Twenty-two years after the events of Jurassic ...
runtime                                                                                           162767
genres                                                 Action|Adventure|Science Fiction|ThrillerActio...
production_companies                                   Universal Studios|Amblin Entertainment|Legenda...
release_date                                           6/9/20155/13/20153/18/201512/15/20154/1/201512...
vote_count                                                                                       1398081
vote_average                                                                                      9222.9
release_year                                                                                     2967882
profit                                                                                      198292291370
Action                                                                                               444
Adventure                                                                                            337
Science Fiction                                                                                      195
Thriller                                                                                             446
Fantasy                                                                                              188
Crime                                                                                                231
Drama                                                                                                560
Western                                                                                               12
Animation                                                                                            120
Comedy                                                                                               551
Family                                                                                               226
Mystery                                                                                              119
Romance                                                                                              242
                                                                             ...
Clipsal Films                                                                                          1
Nine Yards Productions                                                                                 1
Rational Packaging Company                                                                             1
Fat Free                                                                                               1
Mars Production Pty. Ltd.                                                                              0
The Canton Company                                                                                     0
Red Horizon Productions                                                                                0
Caro-McLeod                                                                                            1
Katira Productions GmbH & Co. KG                                                                       1
Fox Animation Studios                                                                                  0
Neo Art & Logic                                                                                        1
Wes Craven Films                                                                                       1
Munich Film Partners & Company (MFP) ROE Production                                                    1
Seven Arts Pictures                                                                                    1
Finding Forrester Productions                                                                          1
Fountainbridge Films                                                                                   1
Cruella Productions                                                                                    1
Triple Threat Talent                                                                                   1
Screenland Pictures                                                                                    0
Davis-Panzer Productions                                                                               0
Charenton Productions                                                                                  0
Hollywood Partners                                                                                     0
Walrus & Associates                                                                                    0
Sweetpea Entertainment                                                                                 0
SNL Studios                                                                                            0
JLT Productions                                                                                        1
Springwood Productions                                                                                 1
Capella International                                                                                  0
KC Medien AG                                                                                           0
Nora Ephron Productions                                                                                0
Length: 5216, dtype: object

In [33]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [34]:
data.director.value_counts()

Steven Soderbergh                13
Clint Eastwood                   12
Ridley Scott                     12
Shawn Levy                       10
Steven Spielberg                 10
Christopher Nolan                 8
Peter Jackson                     8
Michael Bay                       8
Todd Phillips                     8
Ron Howard                        8
Bobby Farrelly|Peter Farrelly     8
Adam Shankman                     8
Gore Verbinski                    8
Tim Burton                        8
M. Night Shyamalan                8
Antoine Fuqua                     8
Dennis Dugan                      7
Robert Rodriguez                  7
Paul W.S. Anderson                7
Marc Forster                      7
Lasse HallstrÃ¶m                  7
Brett Ratner                      7
Zack Snyder                       6
Raja Gosnell                      6
Martin Scorsese                   6
Rob Cohen                         6
Peter Segal                       6
Robert Luketic                    6
Tony Scott                        6
Andy Fickman                      6
                                 ..
Sam Taylor-Johnson                1
Chad Stahelski|David Leitch       1
Phil Traill                       1
Jesse Peretz                      1
Todd Lincoln                      1
Guy Ferland                       1
Kevin Reynolds                    1
Julie Anne Robinson               1
Tamra Davis                       1
Ericson Core                      1
Mike Judge                        1
James Foley                       1
Scott Speer                       1
Tim Johnson                       1
Mike Flanagan                     1
Stephen Hopkins                   1
E. Elias Merhige                  1
Floria Sigismondi                 1
Cody Cameron|Kris Pearn           1
Harold Cronk                      1
Dan Rush                          1
Juan Carlos Fresnadillo           1
Todd Strauss-Schulson             1
Anand Tucker                      1
Roberts Gannaway                  1
Michael Winterbottom              1
Beeban Kidron                     1
Richard Shepard                   1
Howard McCain                     1
Ralph Zondag|Eric Leighton        1
Name: director, Length: 958, dtype: int64

In [35]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [36]:
data12.director.value_counts()

Ridley Scott                                       12
Steven Soderbergh                                  10
Clint Eastwood                                     10
Steven Spielberg                                   10
Shawn Levy                                          9
Peter Jackson                                       8
Tim Burton                                          8
Antoine Fuqua                                       8
Michael Bay                                         8
Christopher Nolan                                   8
Adam Shankman                                       7
Brett Ratner                                        7
Todd Phillips                                       7
M. Night Shyamalan                                  7
Gore Verbinski                                      6
David Fincher                                       6
Robert Rodriguez                                    6
Raja Gosnell                                        6
Peter Segal                                         6
Robert Zemeckis                                     6
Ron Howard                                          6
Bobby Farrelly|Peter Farrelly                       6
Adam McKay                                          6
Zack Snyder                                         6
Sam Raimi                                           6
Francis Lawrence                                    6
Paul W.S. Anderson                                  6
Andy Fickman                                        6
Tim Story                                           6
Dennis Dugan                                        6
                                                   ..
Jimmy Hayward                                       1
Paul Thomas Anderson                                1
Ted Demme                                           1
Ed Gass-Donnelly                                    1
Chris Buck|Jennifer Lee                             1
Dan Scanlon                                         1
Christopher Guest                                   1
Joel Zwick                                          1
J.B. Rogers                                         1
Kevin Munroe                                        1
Max Joseph                                          1
Jim Fall                                            1
Peter Sollett                                       1
Jean-FranÃ§ois Richet                               1
James Gunn                                          1
Alan Poul                                           1
Robert Rodriguez|Frank Miller|Quentin Tarantino     1
Ryan Murphy                                         1
Philip G. Atwell                                    1
Paul Tibbitt                                        1
Mark Osborne                                        1
Xavier Gens                                         1
Pete Docter                                         1
Alexander Witt                                      1
Tom McCarthy                                        1
Kirsten Sheridan                                    1
Patty Jenkins                                       1
Uwe Boll                                            1
Peter Farrelly|Bobby Farrelly                       1
Chris Williams|Byron Howard                         1
Name: director, Length: 774, dtype: int64

In [37]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [38]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False)

director
Peter Jackson                             5202593685
David Yates                               3379295625
Christopher Nolan                         3162548502
J.J. Abrams                               2839169916
Michael Bay                               2760938960
James Cameron                             2548546718
Francis Lawrence                          2476979588
Steven Spielberg                          2449700791
Joss Whedon                               2424593677
Gore Verbinski                            2271362290
Sam Raimi                                 2254066354
Ridley Scott                              2044035909
Chris Columbus                            1906968952
Tim Burton                                1724468396
Sam Mendes                                1710352791
James Wan                                 1620441367
Shawn Levy                                1515787063
Justin Lin                                1472947074
Steven Soderbergh                         1450928588
Ron Howard                                1379257991
Bill Condon                               1376664544
Carlos Saldanha                           1372764975
Pierre Coffin|Chris Renaud                1369275870
Colin Trevorrow                           1363528810
Clint Eastwood                            1329766334
Roland Emmerich                           1310587076
Todd Phillips                             1279393447
George Lucas                              1266398328
Alfonso CuarÃ³n                           1265157010
Raja Gosnell                              1188104000
                                             ...
Howard McCain                              -42966317
Ronald F. Maxwell                          -43076064
George Armitage                            -43191450
Demian Lichtenstein                        -43279825
Jaco Van Dormael                           -43452791
Stephen T. Kay                             -44187007
Steven Zaillian                            -45549103
Luis Mandoki                               -46383131
Antony Hoffman                             -46536031
Charles Shyer                              -46604061
Martin Brest                               -46733791
Brian De Palma                             -47286475
Jim Gillespie                              -48583698
Michael Caton-Jones                        -48936607
Richard Donner                             -49854540
Dan St. Pierre                             -51337973
Hironobu Sakaguchi|Motonori Sakakibara     -51868170
Juan Diego Solanas                         -51893525
Walter Hill                                -53111543
John Dahl                                  -56190660
Rod Lurie                                  -59032852
Oliver Hirschbiegel|James McTeigue         -64928486
Simon Wells                                -67278066
Joby Harold                                -71626175
Walter Hill|Jack Sholder                   -75171919
David Bowers|Sam Fell                      -84540684
Peter Hyams                                -86956545
Ron Underwood                              -92896027
James L. Brooks                            -96289726
Sngmoo Lee                                -413912431
Name: profit, Length: 958, dtype: int64

In [39]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [40]:
print(data.groupby(['Emma Watson'])['profit'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Johnny Depp'])['profit'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Michelle Rodriguez'])['profit'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Orlando Bloom'])['profit'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Rupert Grint'])['profit'].sum().sort_values(ascending=False).values[0])

6666245597
4776417000
4608031235
5148578162
6408638290

In [41]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [42]:
data17 = data[data.release_year == 2012]
print(data17.groupby(['Nicolas Cage'])['profit'].sum().sort_values(ascending=False).values[0])
print(data17.groupby(['Danny Huston'])['profit'].sum().sort_values(ascending=False).values[0])
print(data17.groupby(['Kirsten Dunst'])['profit'].sum().sort_values(ascending=False).values[0])
print(data17.groupby(['Jim Sturgess'])['profit'].sum().sort_values(ascending=False).values[0])
print(data17.groupby(['Sami Gayle'])['profit'].sum().sort_values(ascending=False).values[0])

-32893443
-32893443
-68109207
-23410657
-32893443

In [43]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [44]:
data18=data[data.budget > data.budget.mean()]
print(data18["Tom Cruise"].sum())
print(data18["Mark Wahlberg"].sum())
print(data18["Matt Damon"].sum())
print(data18["Angelina Jolie"].sum())
print(data18["Adam Sandler"].sum())

15.0
14.0
18.0
16.0
17.0

In [45]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [46]:
print(data.groupby(['Nicolas Cage'])['Drama'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Nicolas Cage'])['Action'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Nicolas Cage'])['Thriller'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Nicolas Cage'])['Adventure'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Nicolas Cage'])['Crime'].sum().sort_values(ascending=False).values[0])

12.0
17.0
15.0
7.0
10.0

In [47]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [48]:
print(data["Universal Pictures"].sum())
print(data["Paramount Pictures"].sum())
print(data["Columbia Pictures"].sum())
print(data["Warner Bros."].sum())
print(data["Twentieth Century Fox Film Corporation"].sum())

173.0
122.0
117.0
168.0
109.0

In [49]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [50]:
data21 = data[data.release_year == 2015]
print(data21["Universal Pictures"].sum())
print(data21["Paramount Pictures"].sum())
print(data21["Columbia Pictures"].sum())
print(data21["Warner Bros."].sum())
print(data21["Twentieth Century Fox Film Corporation"].sum())

10.0
7.0
7.0
12.0
8.0

In [51]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [52]:
print(data.groupby(['Comedy'])['Warner Bros.'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Comedy'])['Universal Pictures'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Comedy'])['Columbia Pictures'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Comedy'])['Paramount Pictures'].sum().sort_values(ascending=False).values[0])
print(data.groupby(['Comedy'])['Walt Disney Pictures'].sum().sort_values(ascending=False).values[0])

46.0
75.0
62.0
42.0
45.0

In [53]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [54]:
data23 = data[data.release_year == 2012]
print(data23.groupby(['Universal Pictures'])['profit'].sum().sort_values(ascending=False).values[0])
print(data23.groupby(['Warner Bros.'])['profit'].sum().sort_values(ascending=False).values[0])
print(data23.groupby(['Columbia Pictures'])['profit'].sum().sort_values(ascending=False).values[0])
print(data23.groupby(['Paramount Pictures'])['profit'].sum().sort_values(ascending=False).values[0])
print(data23.groupby(['Lucasfilm Ltd.'])['profit'].sum().sort_values(ascending=False).values[0])
#Ну тут мискликнул, сам виноват.

1981011579
1258020056
2501406608
410726715
-7634623

In [55]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [56]:
data24 = data[data["Paramount Pictures"] == 1]
data24[data24.profit == data24.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [58]:
print(data[data.release_year == 2014].profit.sum())
print(data[data.release_year == 2008].profit.sum())
print(data[data.release_year == 2012].profit.sum())
print(data[data.release_year == 2002].profit.sum())
print(data[data.release_year == 2015].profit.sum())

16397812953
11663881990
16077001687
9002361487
18668572378

In [59]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [60]:
print(data[(data.release_year == 2014)&(data["Warner Bros."] == 1)].profit.sum())
print(data[(data.release_year == 2008)&(data["Warner Bros."] == 1)].profit.sum())
print(data[(data.release_year == 2012)&(data["Warner Bros."] == 1)].profit.sum())
print(data[(data.release_year == 2010)&(data["Warner Bros."] == 1)].profit.sum())
print(data[(data.release_year == 2015)&(data["Warner Bros."] == 1)].profit.sum())
# Пааааааааааччччму? Как считать что бы получился 2014?

1886303827
2134595031
1258020056
1853128844
870368348

In [61]:
answer_ls.append(2)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [62]:
data.release_date = data.release_date.apply(lambda x:str(x).split("/")[0])

In [63]:
months_film = data.release_date.value_counts()
months_film

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [64]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [65]:
months_film["6"]+months_film["7"]+months_film["8"]

450

In [66]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [67]:
data29 = data[(data.release_date == '12')|(data.release_date == '1')|(data.release_date == '2')]
data29.director.value_counts()

Peter Jackson               7
Steven Soderbergh           6
Clint Eastwood              6
Shawn Levy                  4
Adam Shankman               4
Martin Scorsese             4
Nancy Meyers                4
Wayne Wang                  3
Donald Petrie               3
Steven Spielberg            3
Lasse HallstrÃ¶m            3
Edward Zwick                3
Ridley Scott                3
Tim Burton                  3
Patrick Lussier             3
Rob Marshall                3
Marc Lawrence               3
Ron Howard                  2
Brad Anderson               2
James L. Brooks             2
Gabriele Muccino            2
Mark Steven Johnson         2
Paul McGuigan               2
John Whitesell              2
P.J. Hogan                  2
Martin Campbell             2
Marcus Nispel               2
Sylvester Stallone          2
Spike Jonze                 2
Paul Thomas Anderson        2
                           ..
Clare Kilner                1
Andy Fickman                1
Robin Budd|Donovan Cook     1
Dave Meyers                 1
Rob Bowman                  1
Renny Harlin                1
David Leland                1
David Gordon Green          1
Lee Tamahori                1
Walter Hill                 1
Ari Sandel                  1
Phyllida Lloyd              1
David Dobkin                1
James Cameron               1
Breck Eisner                1
Ivan Reitman                1
Jean-FranÃ§ois Richet       1
Allen Hughes                1
Walter Hill|Jack Sholder    1
Kevin Macdonald             1
Jay Roach                   1
Sergey Bodrov               1
Mike McCoy|Scott Waugh      1
NimrÃ³d Antal               1
J.J. Abrams                 1
Robert Zemeckis             1
Eric Brevig                 1
Darren Aronofsky            1
JosÃ© Padilha               1
Frank Marshall              1
Name: director, Length: 333, dtype: int64

In [68]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [69]:
data.groupby(["release_date"])['profit'].sum().sort_values(ascending=False)

release_date
6     27551262500
12    26563071474
5     25039516141
11    18654155473
7     18307895020
3     13720216540
10    12994907859
4     12876005537
9     10878921041
8      9640610446
2      8854574425
1      5396885454
Name: profit, dtype: int64

In [70]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [312]:
data31 = data.copy()
data31.original_title = data31.original_title.apply(lambda x:len(x))
print(data31.groupby(['Universal Pictures'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data31.groupby(['Warner Bros.'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data31.groupby(['Jim Henson Company, The'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data31.groupby(['Paramount Pictures'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data31.groupby(['Four By Two Productions'])['original_title'].mean().sort_values(ascending=False).values[0])
# опять мискликнул(

14.716763005780347
15.571428571428571
59
17.0327868852459
83

In [310]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [317]:
data32 = data.copy()
data32.original_title = data32.original_title.apply(lambda x:len(x.split(" ")))
print(data32.groupby(['Universal Pictures'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data32.groupby(['Warner Bros.'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data32.groupby(['Jim Henson Company, The'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data32.groupby(['Paramount Pictures'])['original_title'].mean().sort_values(ascending=False).values[0])
print(data32.groupby(['Four By Two Productions'])['original_title'].mean().sort_values(ascending=False).values[0])

2.61271676300578
2.767857142857143
10
2.8688524590163933
12

In [318]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [328]:
words_list = []
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for index, row in data.iterrows():
    for i in row['original_title'].split(' '):
        if i.lower() not in words_list and i not in punctuations:
            words_list.append(i.lower())
print(len(words_list))
# Так и не понял как ровно в 2461 попасть

2458

In [329]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [330]:
data[data.vote_average > data.vote_average.quantile(0.99)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,Charenton Productions,Hollywood Partners,Walrus & Associates,Sweetpea Entertainment,SNL Studios,JLT Productions,Springwood Productions,Capella International,KC Medien AG,Nora Ephron Productions
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [331]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [338]:
print(len(data[(data["Johnny Depp"]==1)&(data["Helena Bonham Carter"]==1)]))
print(len(data[(data["Hugh Jackman"]==1)&(data["Ian McKellen"]==1)]))
print(len(data[(data["Vin Diesel"]==1)&(data["Paul Walker"]==1)]))
print(len(data[(data["Adam Sandler"]==1)&(data["Kevin James"]==1)]))
print(len(data[(data["Daniel Radcliffe"]==1)&(data["Rupert Grint"]==1)]))

6
5
5
5
8

In [339]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [366]:
print(len(data[(data.director == "Quentin Tarantino")&(data.profit > 0)]),len(data[(data.director == "Quentin Tarantino")&(data.profit < 0)]))
print(len(data[(data.director == "Steven Soderbergh")&(data.profit > 0)]),len(data[(data.director == "Steven Soderbergh")&(data.profit < 0)]))
print(len(data[(data.director == "Robert Rodriguez")&(data.profit > 0)]),len(data[(data.director == "Robert Rodriguez")&(data.profit < 0)]))
print(len(data[(data.director == "Christopher Nolan")&(data.profit > 0)]),len(data[(data.director == "Christopher Nolan")&(data.profit < 0)]))
print(len(data[(data.director == "Clint Eastwood")&(data.profit > 0)]),len(data[(data.director == "Clint Eastwood")&(data.profit < 0)]))

5 0
10 3
6 1
8 0
10 2

In [359]:
data[(data.director == "Steven Soderbergh")]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
301,tt1130080,1.018005,22000000,35424826,The Informant!,Matt Damon|Scott Bakula|Joel McHale|Melanie Ly...,Steven Soderbergh,Based on a tattle-tale.,A rising star at agri-industry giant Archer Da...,108,Comedy|Crime|Drama|Thriller,Section Eight|Groundswell Productions|Warner B...,9/18/2009,170,6.0,2009,13424826
504,tt0240772,2.642249,85000000,450717150,Ocean's Eleven,George Clooney|Brad Pitt|Matt Damon|Andy GarcÃ...,Steven Soderbergh,Are you in or out?,"Less than 24 hours into his parole, charismati...",116,Thriller|Crime,Village Roadshow Pictures|Section Eight|NPV En...,12/7/2001,2645,7.0,2001,365717150
798,tt1598778,1.045866,60000000,135458097,Contagion,Matt Damon|Gwyneth Paltrow|Kate Winslet|Jude L...,Steven Soderbergh,Nothing spreads like fear,Contagion follows the rapid progress of a leth...,106,Drama|Thriller|Science Fiction,Double Feature Films|Regency Enterprises|Warne...,9/8/2011,852,6.1,2011,75458097
944,tt0307479,0.543750,47000000,30002758,Solaris,George Clooney|Natascha McElhone|Viola Davis|J...,Steven Soderbergh,How far will you go for a second chance?,Upon arrival at the space station orbiting an ...,99,Drama|Science Fiction|Mystery|Romance,Twentieth Century Fox Film Corporation|Lightst...,11/27/2002,196,5.8,2002,-16997242
1001,tt1915581,1.974672,7000000,167221571,Magic Mike,Channing Tatum|Matthew McConaughey|Olivia Munn...,Steven Soderbergh,Work all day. Work it all night.,"Mike, an experienced stripper, takes a younger...",110,Drama|Comedy,Nick Wechsler Productions|Extension 765,6/28/2012,664,6.1,2012,160221571
1019,tt1506999,1.517201,23000000,33372606,Haywire,Gina Carano|Ewan McGregor|Michael Fassbender|B...,Steven Soderbergh,They left her no choice.,Mallory Kane is a highly trained operative who...,93,Thriller,Irish Film Board|Relativity Media,1/18/2012,339,5.5,2012,10372606
1271,tt1291580,0.934716,23000000,15600000,Behind the Candelabra,Michael Douglas|Matt Damon|Rob Lowe|Dan Aykroy...,Steven Soderbergh,Too much of a good thing is wonderful,"Based on the autobiographical novel, the tempe...",118,Drama|Romance,HBO Films,5/26/2013,209,6.6,2013,-7400000
1274,tt2053463,0.886993,30000000,63372757,Side Effects,Rooney Mara|Jude Law|Channing Tatum|Catherine ...,Steven Soderbergh,One pill can change your life.,A woman turns to prescription medication as a ...,106,Thriller|Crime|Drama,Di Bonaventura Pictures|Endgame Entertainment|...,2/7/2013,987,6.3,2013,33372757
1539,tt0452624,0.437529,32000000,5914908,The Good German,George Clooney|Cate Blanchett|Tobey Maguire|To...,Steven Soderbergh,"If war is Hell, then what comes after?",An American journalist played by George Cloone...,108,War|Crime|Drama|Mystery|Romance,Warner Bros.|Section Eight Productions|Sunset ...,12/8/2006,46,5.8,2006,-26085092
1579,tt0349903,2.175284,110000000,362744280,Ocean's Twelve,George Clooney|Brad Pitt|Catherine Zeta-Jones|...,Steven Soderbergh,Twelve is the new eleven.,Danny Ocean reunites with his old flame and th...,125,Thriller|Crime,Village Roadshow Pictures|Section Eight|Jerry ...,12/9/2004,1376,6.4,2004,252744280
1703,tt0496806,1.414350,85000000,311312624,Ocean's Thirteen,George Clooney|Brad Pitt|Matt Damon|Al Pacino|...,Steven Soderbergh,What are the odds of getting even? 13 to one.,Danny Ocean's team of criminals are back and a...,122,Crime|Thriller,Village Roadshow Pictures|Section Eight|Jerry ...,6/7/2007,1371,6.4,2007,226312624
1820,tt0195685,1.208034,52000000,256271286,Erin Brockovich,Julia Roberts|Albert Finney|Aaron Eckhart|Marg...,Steven Soderbergh,She brought a small town to its feet and a hug...,A twice-divorced mother of three who sees an i...,131,Drama,Jersey Films,3/13/2000,406,6.9,2000,204271286
1837,tt0181865,0.918262,48000000,207515725,Traffic,Michael Douglas|Benicio del Toro|Jacob Vargas|...,Steven Soderbergh,No one gets away clean,An exploration of the United States of America...,148,Drama,USA Films|Initial Entertainment Group (IEG)|Be...,12/27/2000,286,6.6,2000,159515725

In [ ]:
answer_ls.append(1)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []